{% extends "base.html" %}

{% block content %}

<script>
</script>

<div style="border: 1px solid blue; margin: 1em 10em; padding: 3em">
    <h3 style="text-align: center;">To recover your password, please enter your email address</h3>
    <div>
        <form class="login-form" method="POST" action="{% url 'account:forgot_password' %}">
            <style>
            .login-form {
                margin-bottom: 1em;
            }
            .login-form > div {
                width: 30em;
                margin: 0 auto; 
            }
            .login-form div + div {
                padding-top: 1ex;
            }
            .login-form .form-control {
                color: black;
            }
            .login-form .left-inner-addon { position: relative; }
            .login-form .left-inner-addon input { padding-left: 30px; }
            .login-form .left-inner-addon i { 
                position: absolute; padding: 10px 12px; cursor: default;
            }
            </style>
            {% csrf_token %}
            
            <hr />
            {{ form.as_div }}
            <hr />
            <div style="text-align: center; margin: 0 auto; width: 50%">
                <button onclick='javascript:this.form.submit()'>Send Reset Email &rarr;</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}
