{% extends "base.html" %}

{% block content %}

<script>
</script>

<div style="border: 1px solid blue; margin: 1em 10em; padding: 3em">
    <h2 style="text-align: center;">Hello, {{ user.get_short_name }}</h2>
    <h3 style="text-align: center;">Use this form to change your password.</h3>
    <div>
        <form class="login-form" method="POST" action="{% url 'account:change_password' %}">
            <style>
            .login-form {
                margin-bottom: 1em;
            }
            .login-form > div {
                width: 30em;
                margin: 0 auto; 
            }
            .login-form div + div {
                padding-top: 1ex;
            }
            .login-form .form-control {
                color: black;
            }
            .login-form .left-inner-addon { position: relative; }
            .login-form .left-inner-addon input { padding-left: 30px; }
            .login-form .left-inner-addon i { 
                position: absolute; padding: 10px 12px; cursor: default;
            }
            </style>
            {% csrf_token %}
            
            <hr />
            {{ form.as_div }}
            <hr />
        <div style="text-align: center; margin: 0 auto; width: 50%">
            <button class="btn btn-primary" onclick='javascript:this.form.submit()'>Change Password &rarr;</button>
            <br />
            <br />
            <a href="{% url 'account:index' %}">I changed my mind</a>
            </form>
        </div>
        </form>
            
            
    </div>

</div>


{% endblock %}
