{% extends "base.html" %}

{% block content %}

<h3>Hello, {{ user.first_name }}. </h3>

<div style="width: 50%; float: right;">
    All Users:<br />
    {% for u in users %}
    username: {{ u.username }} {{ u.email }} {% for provider in u.social_auth.all %}{{ provider.provider }}{% endfor %}<br />
    {% endfor %}
    <hr/>
    Active sessions:<br/> 
    {% for session in sessions %}
    {{ session.user }} until {{ session.until|date:"r" }}<br />
    {% empty %}
    No active sessions<br/>
    {% endfor %}
</div>

<script>
function signOut()
{
    location.href = "{% url 'account:logout' %}";
}
</script>

<div style="width: 64px; height: 64px; overflow: hidden; border: 1px solid #999; background-color: rgba(0, 0, 0, 0.125)">
<img width=64 height=64 src="{{ user.userdata.profile_image }}" />
</div>
Would you like to
<button onclick='signOut()'>Log out?</button><br />

username: {{ user.username }}<br/>
{# groups: {% for g in user.groups.all %}{{ g.name }}{% empty %}Not a member of any groups{% endfor %}<br/> #}
{# provider: {% for provider in user.social_auth.all %}{{ provider.provider }}{% endfor %}<br/> #}
name: {{ user.first_name }} {{ user.last_name }}<br/>
email: {{ user.email|default:"<i style='color:red'>No Email Address</i>" }}<br/>
{# is_active: {{ user.is_active }}<br/> #}
{#    is_super: {{ user.is_superuser }}<br/> #}
{#    is_staff: {{ user.is_staff }}<br/> #}
{#  last_login: {{ user.last_login }}<br/> #}
{# date_joined: {{ user.date_joined }}<br/> #}

{% endblock %}
