{% extends "base.html" %}

{% block content %}
{% load welcome_entry %}
{% welcome_entry %}
<script>
</script>

<div style="border: 1px solid blue; margin: 1em 10em; padding: 3em">
    <h2 id="form-begin" style="text-align: center;">Sign Up</h2>
    <p style="text-align: center">(All fields are required)</p>
    <div>
        <form class="login-form" id="register-form" method="POST" action="{% url 'account:register' %}#form-begin">
            <style>
            .login-form {
                margin-bottom: 1em;
            }
            .login-form > div {
                width: 30em;
                margin: 0 auto; 
            }
            .login-form div + div {
                padding-top: 1ex;
            }
            .login-form .form-control {
                color: black;
            }
            .login-form .left-inner-addon { position: relative; }
            .login-form .left-inner-addon input { padding-left: 30px; }
            .login-form .left-inner-addon i { 
                position: absolute; padding: 10px 12px; cursor: default;
            }
            </style>
            {% csrf_token %}
            
            <hr />
            {{ form.as_div }}
            <hr />
            
            <div style="text-align: center;">
                <button class='btn btn-success' onclick='this.form.submit()'>Sign up &rarr;</button>
            </div>
        </form>
    </div>

    <p style="text-align: center">
        <a href="{% url 'account:forgot_password' %}">I forgot my password</a>
         &bull; <a href="/help/">Help</a>
    </p>

</div>

{% endblock %}
